@media only screen and (min-width: 1600px){
.homer{
	width: 312.5px;
	height: 312.5px;
	background: url("homer.jpg") 0 0px;
	/* top left*/
	}
}

@media screen and (min-width: 1400px) and (max-width: 1600px){
.homer{
	width: 312.5px;
	height: 312.5px;
	background: url("homer.jpg") -312.5px 0px;
	/*top right*/
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px){
.homer{
	width: 312.5px;
	height: 312.5px;
	background: url("homer.jpg") 0 -312.5px;
	/*bottom left*/
	}
}

@media screen and (min-width: 1000px) and (max-width: 1200px){
.homer{
	width: 312.5px;
	height: 312.5px;
	background: url("homer.jpg") -312.5px -312.5px;
	/*bottom right*/
	}
}

@media screen and (min-width: 800px) and (max-width: 1000px){
.homer{
	width: 312.5px;
	height: 312.5px;
	background: url("homer.jpg") 0px -312.5px;
	/*bottom left*/
	}
}

@media screen and (min-width: 600px) and (max-width: 800px){
.homer{
	width: 312.5px;
	height: 312.5px;
	background: url("homer.jpg") -312.5px 0px;
	/*top right*/
}
}

@media screen and (max-width: 600px){
.homer{
	width: 312.5px;
	height: 312.5px;
	background: url("homer.jpg") 0 0px;
	/*top left*/
	}
}

