/* css file */

    
html {
	height: 100%;
	font-family: "Georgia", serif;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.image {
	height: 20px;
	width: 32px;
}

#myMap {
	width: 100%;
	height: 100%;
}